altgraph==0.17
anytree==2.8.0
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cycler==0.10.0
dataclasses==0.6
DateTime==4.3
decorator==4.4.2
dnspython==2.0.0
et-xmlfile==1.0.1
ffmpeg==1.4
ffmpeg-python==0.2.0
Flask==1.1.2
future==0.18.2
graphviz==0.15
gunicorn==20.0.4
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mongo==0.2.0
moviepy==1.0.3
numpy==1.19.4
openpyexcel==2.5.14
openpyxl==3.0.5
pafy==0.5.5
pandas==1.1.4
pefile==2019.4.18
Pillow==8.0.1
proglog==0.1.9
pygame==2.0.0
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pymongo==3.11.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-vlc==3.0.11115
pytube==10.0.0
pytz==2020.4
pywin32-ctypes==0.2.0
redcmd==1.2.10
redlib==1.5.7
requests==2.25.0
scipy==1.5.4
seaborn==0.11.0
six==1.15.0
Theano==1.0.5
tqdm==4.52.0
typing-extensions==3.7.4.3
urllib3==1.26.2
vlc-ctrl==1.0.8
Werkzeug==1.0.1
youtube-dl==2020.11.19
youtube-search==1.1.1
zope.interface==5.2.0
